@import url('https://fonts.googleapis.com/css2?family=Quicksand&family=Rampart+One&display=swap');

* {
    margin: 0px;
    padding: 0;
    border: none;
}

body {
    font-family: 'Quicksand', sans-serif;
    font-weight: 300;
    background-color: #f2fff6;
}

/* title and headings */

#title, h1, h2 {
    font-family: 'Rampart One', sans-serif;
    text-transform: capitalize;
    letter-spacing: 3px;
}

#title {
    float: left;
    font-size: 300%;
    margin: 10px;
}

ul li {
    float: right;
    list-style-type: none;
    margin-right: 20px;
    text-decoration: none;
    }

/* nav links */

#title, #navdiv {
    line-height: 100px;
}

#navdiv {
    font-size: 120%;
    letter-spacing: 3px;
}

#navdiv a {
    text-decoration: none;
    color: inherit;
}

#navdiv a:hover {
    color: green
}

img {
    height: 800px;
    width: 100%;
}

/* Content */

#section {
    margin-top: 10px;
    margin-bottom: 10px;
}

#about {
    text-align: center;
    width: 50%;
    float: left;
}

#when {
    text-align: center;
    width: 50%;
    float: right;
}

#timetable {
    margin-left: 25%;
}

#timetable, tr, td {
    border: 10px ridge;
    padding: 10px;
    margin-top: 30px;
}

#about h1 {
    font-size: 200%;
    margin-bottom: 30px;
}

#when h2 {
    font-size: 200%;
}