@import url('https://fonts.googleapis.com/css2?family=Quicksand&family=Rampart+One&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: 'Quicksand', sans-serif;
    font-weight: 600;
}

/* title and headings */

#title, h1, h2 {
    font-family: 'Rampart One', sans-serif;
    text-transform: capitalize;
    letter-spacing: 3px;
}

#title {
    float: left;
    font-size: 300%;
    margin: 10px;
}

ul li {
    float: right;
    list-style-type: none;
    margin-right: 20px;
    text-decoration: none;
    }

/* nav links */

#title, #navdiv {
    line-height: 100px;
}

#navdiv {
    font-size: 120%;
    letter-spacing: 3px;
}

#navdiv a {
    text-decoration: none;
    color: inherit;
}

#navdiv a:hover {
    color: green
}

img {
    height: 800px;
    width: 100%;
}

/* Content */


#about {
    display:block;
    text-align: center;
}

#about h1 {
    text-align: center;
}

#about p {
    text-align: center;
}

#when {
    display: block;
    text-align: center;
}

#timetable {
    margin-left: auto;
    margin-right: auto;
}

#timetable, tr, td {
    border: 10px ridge;
    padding: 10px;
    margin-top: 30px;
}

#about h2 {
    font-size: 200%;
    margin-bottom: 30px;
}

#when h2 {
    font-size: 200%;
}

#registration h2 {
    font-size: 200%;
    margin-bottom: 30px;
    text-align: center;
}

/* Form Registration */


#registration {
    display: block;
    text-align: center;
}

.form {
    border: 1px solid;
}

#signup {
    margin-top: 50px;
}
#form2 {
    width: 600px;
    margin-left: auto;
    margin-right: auto;
}
